<% var page ='index'%>

<%var x = 'index'%>
<% include ../templates/header.ejs%>

<body>

<!-- Navigation -->
<%include ../templates/nav.ejs%>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <% posts.forEach(post=>{%>
                <div class="post-preview">
                    <img src="users/<%=post.user.image%>">
                    <a href="post/<%=post.id%>">
                        <h2 class="post-title">
                            <%= post.title%>
                        </h2>
                        <h3 class="post-subtitle">
                            <%=post.subtitle%>
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#"><%= post.user.username %></a>
                        on <%= post.createAt.toDateString()%>
                    </p>
                    <%if(post.user._id.toString() === userid){%>
                    <button  class="btn btn-primary btn-sm"><a href="post/delete/<%=post.id%>">delete</a></button>
                    <%}%>
                </div>
                <hr>
           <% })%>


        </div>
    </div>
</div>

<hr>

<%include ../templates/footer.ejs%>
